@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Urbanist", sans-serif;
    background-color: #EEE;
}



.swiper-button-next,
.swiper-button-prev {
  color: #111;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 50%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 25px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

@media screen and (min-width: 1024px){
.swiper-button-next,
.swiper-button-prev {
  display: flex;
}
}


@layer components {
    .font-Urbanist{
        font-family: "Urbanist", sans-serif;
    }

    .title-line{
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 150px;
      border-radius: 50%;
      background-color: rgb(249 115 22);
    }
}